body {
    background-image: url("../img/sine-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.enviar-button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;


}

.enviar-button:hover{
    background: #10449a;
}