@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;

}

body{
    background-image: url("../img/sine-4.jpg");
    background-color: transparent;
    font-family: 'PT Sans Narr', sans-serif;
}
ul{
    list-style: none;
}



main{
    background-color: white;
    padding: 20px;
    min-width: 500px;
    max-width: 80%;
    margin: auto;
    margin-top: 6.5%;
    margin-bottom: 30px;
    border-radius: 1%;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    text-align: justify;
}
main h1{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    


}


main p{
    padding-top: 20px;
    color: black;
    line-height: 2em; /*espaço entre linhas*/
    font-size: 1.2em;
    padding-bottom: 20px;
    font-family:'PT Sans Narr', sans-serif;
    /* font-style: italic;  */
    
}



.container img {
    max-width:600px;
    max-height:300px;
    width: auto;
    height: auto;
    
}
